@tailwind components;
@tailwind utilities;

.backgroundItemContainer {
  @apply p-4 flex flex-col justify-between gap-2 border border-transparent transition ease-in-out rounded-xl cursor-pointer hover:border-neutral-400 hover:bg-white hover:bg-opacity-5 active:border-white active:bg-opacity-10;
}

.backgroundItemText {
  @apply flex flex-col justify-center items-center select-none;
}

.itemName {
  @apply text-lg text-center;
}

.imageContainer {
  @apply relative overflow-hidden rounded-md;
}

.image {
  @apply object-cover object-top select-none;
}

.backgroundItemText span,
.backgroundItemText a {
  @apply text-sm text-neutral-500;
}

.imageSkeleton {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-neutral-600;
  animation: skeleton-loop 2s ease-in-out infinite;
}

@keyframes skeleton-loop {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}