@tailwind components;
@tailwind utilities;

.titleBarContainer {
  @apply w-full flex flex-row justify-between items-center select-none
    bg-black backdrop-blur-2xl overflow-hidden transition duration-100;
}

.windowTitleDiv {
  @apply flex flex-row gap-2 p-2 pl-2 flex-grow; /* Added flex-grow */
}

.windowTitleDiv p {
  @apply text-sm;
}

.buttonContainer {
  @apply h-full min-w-fit flex-shrink-0;
}

.buttonContainer button {
  @apply h-full px-5 cursor-default transition bg-transparent;
}

.closeButton {
  @apply 
    hover:bg-red-500 active:bg-red-600;
}

.minimizeButton {
  @apply 
    hover:bg-white hover:bg-opacity-10 
    active:bg-white active:bg-opacity-5;
}

.titleBarFocused {
  @apply bg-opacity-80;
}
