@tailwind components;
@tailwind utilities;

.appWindowContainer{
  @apply h-full w-full absolute overflow-hidden
  flex flex-col justify-between;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
  
}

.appWindowContainerFocused{
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.3) !important; 
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.3) !important;
}