@tailwind components;
@tailwind utilities;

.titleBarContainer{
  @apply w-full flex flex-row justify-between items-center select-none
  bg-black backdrop-blur-2xl overflow-hidden transition duration-100;
}

.windowTitleDiv{
  @apply text-base p-2 pl-2;
}

.buttonContainer{
  @apply h-full;
}

.buttonContainer button{
  @apply h-full px-5 cursor-default 
  transition bg-transparent;
}

.closeButton{
  @apply w-fit h-full z-10 px-5
  bg-transparent hover:bg-red-500 transition cursor-default
  active:bg-red-600;
}

.minimizeButton{
  @apply 
  hover:bg-white hover:bg-opacity-10
  active:bg-white active:bg-opacity-5;
}

.titleBarFocused{
  @apply bg-opacity-80;
}